html, 
body, 
.days, 
.days .row {
	height: 100%;
}

body {
	background-color: #bc3c3e;
	font-family: 'Poppins', sans-serif;
}

.days {
	padding: 3rem 5rem;
}

@media (min-width: 994px) {
	.days {
		padding: 0 4rem;
	}	
}

@media (min-width: 1400px) {
	.days {
		padding: 0 9rem;
	}	
}

.days-col {
	align-items: center;
	display: flex;
	justify-content: center;
}

.col-gun {
	align-items: flex-end;
}

.col-msg {
	align-items: flex-start;	
}

@media (min-width: 994px) {
	.col-gun,
	.col-msg {
		align-items: center;
	}	
}
 
.msg {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	padding-top: 1rem;
}

@media (min-width: 994px) {
	.msg {
		padding: 0;
	}	
}

.msg-count {
	color: #9b2729;
	font-family: 'Creepster', cursive;
	font-size: 9rem;
	line-height: 1em;
}

@media (min-width: 994px) {
	.msg-count {
		font-size: 14rem;
	}
}

.msg-body {
	color: #000;
	font-size: 1.75rem;
	line-height: 1.25em;
	text-align: center;
}

@media (min-width: 994px) {
	.msg-body {
		font-size: 2.25rem;
	}
}

.msg-body span {
	font-weight: 600;
}

.msg-designer a {
  color: #9b2729;
  font-size: .9rem;
}

.msg-designer a:hover {
  color: #721517;
}